application/config/database.php
application/config/config.php
application/config/email.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess
application/libraries/tcpdf/

*.xls
*.pdf
*.js
*.sql

/vendor/
/sql/

/assets/MegaNavbar
/assets/bootstrap3.3.7
/assets/bootstrap-table
/assets/bootstrap-toggle
/assets/jquery-ui
/assets/jqueryConfirm
/assets/tables

# IDE Files
#-------------------------
/nbproject/
/node_modules/
/system/
/system3.1.1/
